select{
    width: 160px;
    height: 30px;
    font-size: medium;
    margin-left: 10px;
}
body{
    background-color: bisque;
}
.b #p{
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.b h2{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer{
    background-color:lightcoral;
}
.b #bb{
    margin-top: -20px;
}
.footer h3{
    padding: 8px;
}
.b #sub:hover{
    background-color: #1676f3;
    color: white;
}
