h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: lightcoral;
}
body{
    background-color: bisque;
}
h2,h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.lab{
    margin-left: 400px;
    padding-left: 20px;
    border: 1px solid black;
    width: 600px;
    height: 500px;
    background-color:lightcyan;
}
.lab input,select,button{
    margin-top: 10px;
    height: 30px;
    width: 300px;
}
.lab #b{
    background-color: #1676f3;
    color: white;
    font-weight: bold;
}
.footer h3{
    margin-top:50px ;
    padding: 8px;
}
.footer{
    background-color:lightcoral;
}
.lab #b:hover{
    background-color: aqua;
    color: black;
}